<div class="limiter">
    <div class="container-login100">

        <div class="wrap-login100">

            <form class="login100-form validate-form" id="loadbar">

                <span class="login100-form-title p-b-26">
                  <span><i class="icon"></i></span>
                </span>
                <span class="login100-form-title p-b-48">
          <i class="zmdi zmdi-font"></i>
        </span>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="username" [(ngModel)]="username">
                    <span class="focus-input100" data-placeholder="Username"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <span class="btn-show-pass">
            <i class="zmdi zmdi-eye"></i>
          </span>
                    <input class="input100" type="password" name="pass" [(ngModel)]="password">
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button id="signin" class="login100-form-btn" (click)="submitted=false" (click)="submit2()">
              Login
            </button>

                    </div>
                </div>
                <div class="text-center p-t-115">
                    <span class="txt1">
            Don’t have an account?
          </span>
                    <a onclick="myFunction()" id="all" routerLink="/signup">Sign Up</a>
                </div>
            </form>

        </div>
    </div>
</div>
<div id="dropDownSelect1"></div>