<!--The content below is only a placeholder and can be replaced.-->

<div class="limiter" id="fanis">
    <div class="container-login100">
        <div class="wrap-login100">

            <form class="login100-form validate-form" id="loadbar">



                <span class="login100-form-title p-b-26">
                  <span><i class="icon"></i></span>
                </span>
                <span class="login100-form-title p-b-48">
          <i class="zmdi zmdi-font"></i>
        </span>

                <div class="wrap-input100 validate-input">
                    <input id="username" class="input100" type="text" name="username" [(ngModel)]="username">

                    <span class="focus-input100" data-placeholder="Username"></span>
                    <div align="right" id="usernameerror"></div>
                </div>


                <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                    <input id="emailup" class="input100" type="text" name="emailup" [(ngModel)]="email">
                    <span class="focus-input100" data-placeholder="Email"></span>
                    <div align="right" id="emailerror"></div>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <span class="btn-show-pass">
            <i class="zmdi zmdi-eye"></i>
          </span>
                    <input class="input100" type="password" name="password" [(ngModel)]="password">
                    <span class="focus-input100" data-placeholder="Password"></span>
                    <div align="right" id="passworderror"></div>
                </div>



                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="age" [(ngModel)]="age">
                    <span class="focus-input100" data-placeholder="weight" data-placeholder="Age"></span>
                    <div align="right" id="ageerror"></div>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="height" [(ngModel)]="height">
                    <span class="focus-input100" data-placeholder="height" data-placeholder="Height(cm)"></span>
                    <div align="right" id="heighterror"></div>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="weight" name="weight" [(ngModel)]="weight">
                    <span class="focus-input100" data-placeholder="weight" data-placeholder="Weight(kg)"></span>
                    <div align="right" id="weighterror"></div>
                </div>





                <input type="radio" name="gender" value="male" [(ngModel)]="male" checked> Male<br>
                <input type="radio" name="gender" value="female" [(ngModel)]="female"> Female<br>



                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button id="signup" class="login100-form-btn" (click)="submitted=false" (click)="submit()">
              Register
            </button>
                    </div>
                </div>



                <div class="text-center p-t-115">
                    <span class="txt1">
            Don’t have an account?
          </span>
                    <a routerLink="/signin">Sign In</a>

                </div>
            </form>

            <div id="loading"> Loading...</div>
            <div id="myProgress">

                <div id="myBar"></div>
            </div>


        </div>
    </div>
</div>




<div id="dropDownSelect1"></div>