#signup {
    background-color: #303030;
}

#myProgress {
    width: 100%;
    background-color: #ddd;
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: #ff8000;
}

.icon {
    width: 213px;
    height: 90px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT9fOsYsc0Lqp6aTUwut2GiXGoAAz_8ryn7SvQy1yovbMN9gawA&usqp=CAU");
    display: inline-block;
}